version: "3"
services:
  node-app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    depends_on:
      - mongo

  mongo:
    image: mongo:4
    environment:
      - MONGO_INITDB_ROOT_USERNAME=pelaaja2
      - MONGO_INITDB_ROOT_PASSWORD=munpassu
    volumes:
      - mongo-db:/data/db

volumes:
  mongo-db:
